#root {
  /* max-width: 1280px; */
  width: 100vw;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.pageContent {
  /* max-width: 1280px; */
  padding-inline: 4rem;
}

/* some hex codes for colors i like */
/* #ff808017 */
/* #b10000 */
/* #00ff000a */
/* #0f0 */


.testTimerRow {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  /* margin-top: 5%; */
  margin-bottom: 5%;
  /* gap: 1%; */
  /* position: relative; */
}


.timer {
  width: 10%;
  min-width: 50px;
  position: absolute;
  padding-block: 0.2%;
  color: aqua;
  background-color: #404040;
  box-shadow: 0 0 0 2px #00ff00 inset;
  border-radius: 10px;
}

.testEnding {
  animation-name: testEnding;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 9;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes testEnding {
  from { box-shadow: 0 0 0 2px #00ff00 inset; }
  to { box-shadow: 0 0 0 4px red inset; color: red; }
}


.restartTestButton {
  align-self: stretch;
  position: relative;
  left: 9%;
  height: 100%;
  padding-inline: 1%;
  padding-top: 0.4%;
  padding-bottom: 0;
  font-size: 1.5em;
  color: #00ff00;
  background-color: #383838;
  border-color: #606060;
  border-radius: 10px;
  border-style: outset;
  border-width: 2px;
}


.typingPracField {
  letter-spacing: 0.1em;
  font-family: "Space Mono", "JetBrains Mono", "Roboto Mono", monospace, sans-serif;
  text-align: center;
  background-color: #383838;
  border-color: grey;
  border-radius: 15px;
  border-style: inset;
  border-width: 3.8px;
  white-space: pre-wrap;
}

/* Add animation that displays the incorrectly typed character shaking and then disappearing to the two below classes. ...(also later consider remaking in a react jsx module for storing these styles.. i believe its called css-in-js using a library like styled-components) */

.practiceText {
  margin: 0.08em;
}

.correctInput {
  margin: 0.08em;
  color: #006600;
  background-color: #00ff00;
  border-radius: 15%;
}

.incorrectInput {
  margin: 0.08em;
  color: #990000;
  background-color: #ff8080;
  border-radius: 15%;
}

.nextInput {
  margin: 0.08em;
  text-decoration-line: underline;
  text-decoration-color: #00ff00;
  text-decoration-thickness: 20%;
  text-underline-offset: 40%;
  background-color: #505050;
  border-radius: 15%;
  animation: blink 400ms ease-in-out infinite alternate;
}
@keyframes blink {
  from { text-decoration-color: #00ff00; }
  to { text-decoration-color: transparent; }
}


.resultsRow {
  display: flex;
  margin: 0 auto;
  margin-top: 5%;
  justify-content: center;
  gap: 10%;
  align-items: center;
}
/* .resultsRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-top: 5%;
  gap: 50px;
} */


.typingStats {
  color:antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:600;
  line-height: 2.2;
  background-color: #363636;
  border-color: black;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
}

.typingStatsTestRunning {
  width: 80%;
  min-width: 100px;
  margin: 0 auto;
}

.typingStatsTestEnded {
  width: auto;
  white-space: nowrap;
  padding-inline: 5%;
  padding-block: 1%;
  border-radius: 15px;
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  /* justify-self: end; */
}

.avgWpmStat {
  margin: 1%;
  color: #00dd00;
  /* font-size: 180%; */
  font-weight: 700;
}

.accuracyStat {
  margin: 1%;
  color: #00dd00;
  /* font-size: 180%; */
  font-weight: 700;
}


.resultsButton {
  /* margin: 0 auto; */
  /* justify-self: start; */
  height: fit-content;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:600;
  line-height: 2.2;
  background-color: #00dd00;
  border-color: #009900;
  border-radius: 15px;
  border-style: outset;
  border-width: 5px;
}







/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
} */

/* .read-the-docs {
  color: #888;
} */
